.title-index,
.title {
    text-align: center;
}

.list {
    padding: 15px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 0px solid black;
    border-bottom: 0px solid black;
}

.lists {
    box-sizing: border-box;
    background-color: rgb(232, 232, 232);
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
}

.navbar {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: rgb(182, 182, 182);
    list-style-type: none;
}

a {
    color: inherit;
}

a.home-page-link {
    color: blue;

}

.subheading {
    text-align: center;
}

.paragraph {
    text-align: center;
    background-color: rgb(232, 232, 232);
    padding: 15px;
    margin: 5px;
    border: 1px solid black;
}


