.title-index,
.title {
  text-align: center;
}

body {
  margin: 0px;
}

.lists {
  box-sizing: border-box;
  background-color: rgb(232, 232, 232);
  padding: 20px;
  margin: 5px;
  border: 1px solid black;
}

.navbar ul {
  list-style-type: none;
  background-color: grey;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar li {
}

.navbar a {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 15px;
}

.navbar a:hover {
  background-color: rgb(61, 61, 61);
}

a.home-page-link {
  color: blue;
}

.subheading {
  text-align: center;
}

.paragraph {
  text-align: center;
  background-color: rgb(232, 232, 232);
  padding: 15px;
  margin: 5px;
  border: 1px solid black;
}
